<div class="card shadow-sm p-2 m-2" style="max-width: 300px">
  <div class="card-body text-center">
    <h5 class="card-title mb-3">Leave Summary</h5>

    <button class="btn btn-primary mb-3" (click)="applyLeaveDialog()">Apply Leave</button>

    <p class="mb-1"><strong>Total leaves:</strong> 20</p>
    <p class="mb-1"><strong>Planned leaves:</strong> 12</p>
    <p class="mb-1"><strong>Emergency leaves:</strong> 8</p>
  </div>
</div>

<div class="card-body text-center">
  <h2>Leaves List</h2>
  <table border="2">
    <thead>
      <tr>
        <th>Leave Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let i of leavelist">
        <td>{{ i.leaveType }}</td>
        <td>{{ i.startDate | date : 'yyyy-MM-dd' }}</td>
        <td>{{ i.endDate | date : 'yyyy-MM-dd' }}</td>
        <td>{{ i.status }}</td>
        <td>
          <button
            *ngIf="i.status === 'Pending'"
            class="btn btn-sm btn-danger"
            (click)="cancelLeave(i.id)"
          >
            Cancel
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="card shadow-sm m-2" style="max-width: 320px">
  <div class="card-body text-center">
    <h5 class="card-title fw-semibold mb-3">Attendance</h5>

    <div class="d-flex justify-content-center gap-2">
      <button class="btn btn-primary btn-sm" (click)="ScanIn()"  [disabled]="isScannedIn">Scan In</button>

      <button class="btn btn-outline-primary btn-sm" (click)="ScanOff()" [disabled]="!isScannedIn">
        Scan Off
      </button>
    </div>
  </div>
</div>
