.profile-card {
  width: 420px;
  max-width: 100%;
  padding: 20px;
}

.profile-img-wrapper {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #198754; /* Bootstrap success color */
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

